html {
    margin: 0;
    padding: 0
}

.button {
    border: none;
    color: rgb(253, 252, 251);
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

#home {
    text-align: center;
    color: #f8f8f8;
    background: #000 url(cargoTug.jpg) no-repeat 0px 0px;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

#bodyPag #content .login {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 30vh
}

#bodyPag #content .login_input {
    display: flex;
    flex-direction: column
}

#bodyPag #content .login_password {
    display: flex;
    flex-direction: column
}

#home .divMessagem {
    background: rgba(0, 0, 0, .5019607843);
    padding: 20px;
    border-radius: 30px
}

#home .divMessagem h1 {
    margin: 0;
    font-size: 5em
}

#home .divMessagem a {
    color: orange;
    text-decoration: none
}

#home .divMessagem .textShadow {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6)
}

#bodyPag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

#bodyPag #menu {
    background: #262626 url(logo.png) no-repeat 40% 5px;
    min-height: 100vh;
    width: 18%;
    background-size: 90%
}

#bodyPag #menu hr {
    margin: 90% 5% 0;
    border-bottom: 2px solid orange
}

#bodyPag #menu ul {
    position: static;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none
}

#bodyPag #menu ul li {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid orange;
    width: 90%;
    text-align: center
}

#bodyPag #menu ul li a {
    text-decoration: none;
    color: #fff
}

#bodyPag #content {
    background: #fff;
    min-height: 100vh;
    width: 82%
}

#bodyPag #content h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: orange;
    margin: 0;
    padding: 10px 0;
    background: #262626
}

#bodyPag #content .info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 30vh
}

#bodyPag #content .info__input {
    display: flex;
    flex-direction: column
}

#bodyPag #content .dashboard h2 {
    font-size: 2rem;
    font-weight: 700
}

#bodyPag #content .dashboard thead {
    background: orange
}

#bodyPag #content .dashboard thead span {
    color: #fff;
    font-size: 1rem
}

#bodyPag #content .book label {
    font-size: 1em
}

#bodyPag #content .actionDiv {
    display: flex;
    align-items: center;
    justify-content: center
}

#bodyPag #content .actionDiv button {
    background: orange;
    border: 2px solid #dda33c;
    color: #fff;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: .5s
}

#bodyPag #content .actionDiv button:hover {
    background: #dda33c
}



/*# sourceMappingURL=style.css.map */