html {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagina {

}

#home {
    text-align: center;
    color: #f8f8f8;
    background: #f3efef no-repeat 0px 0px;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home h1 {
    margin: 0;
    color: orange;
    font-size: 3rem;
}
#home p {
    color: black;
    font-size: 1.5rem;
    margin: 0;
}


.divMessagem {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.divMessagem label {
    color: orange;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
.divMessagem input {
    width: calc(100% - 13px);
    padding: 10px 5px;
    margin: 15px 0 5px;
    font-size: 15px;
}
.divMessagem button {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background: orange;
    color: white;
    font-weight: 600;
    border: 1px solid #cb8609;
}
.divMessagem button:hover {
    background: #cb8609;
}
.divMessagem .textShadow {
      text-shadow: 2px 2px 3px rgb(0 0 0 / 60%);
}



#menu {
    background: #262626 url(../assets/logo.png) no-repeat 40% 5px;
    min-height: 100vh;
    width: 18%;
    background-size: 90%;
}
#menu hr {
    margin: 90% 5% 0;
    border-bottom: 2px solid orange;
}
#menu ul {
    position: static;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
#menu ul li {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid orange;
    width: 90%;
    text-align: center;
}
#menu ul li a {
    text-decoration: none;
    color: white;
}

#content {
    min-height: 100vh;
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#content .header {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: orange;
    margin: 0;
    padding: 10px 0;
    background: #262626;
    width: 100%;
}
#content .footer {
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: orange;
    margin: 0;
    padding: 10px 0;
    background: #262626;
    width: 100%;
}

#content .criarCarga {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 0px 15px -5px black;
    border-radius: 10px;
}
#content .criarCarga input {
    width: calc(100% - 13px);
    padding: 10px 5px;
    margin: 15px 0 5px;
    font-size: 15px;
}
#content .criarCarga button {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background: orange;
    color: white;
    font-weight: 600;
    border: 1px solid #cb8609;
}

#content #dashboard label {
    font-size: 1rem;
    font-weight: 700;
    color: red;
;
}
#content #dashboard tr th {
    color: black;
    font-size: 1.5rem;
}
#content #dashboard span {
    color: white;
    font-size: 1rem;
}